 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     min-height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 2rem;
     flex-direction: column;
     transform: translateY(-50% 50%)
 }

 #value {
     font-size: 3rem;
     font-weight: bold;
     margin: 16px;
 }

 .button-container {
     margin-right: 12px;
 }

 button {
     padding: 10px 16px;
     border-radius: 8px;
     text-transform: uppercase;
     margin-right: 8px;
 }